<% layout("boilerplate") -%>

<nav>
    <% include ../partials/nav.ejs %>
</nav>
<div class="container">
    <h1>Electronics New Page</h1>
    <form action="/electronics/<%= electronic.id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= electronic.name %>"/>
        <br/>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" value="<%= electronic.brand %>"/>
        <br/>
        <label for="color">Color:</label>
        <input type="text" name="color" value="<%= electronic.color %>"/>
        <br/>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" value="<%= electronic.quantity %>"/>
        <br/>
        <label for="price">Price:</label>
        <input type="text" name="price" value="<%= electronic.price %>"/>
        <br/>
        <label for="Image">Image:</label>
        <input type="text" name="image" value="<%= electronic.image %>"/>
        <br/>
        <input type="submit" value="Submit">
        <form>
            <button type="button" name="button">
                <a href="/electronics">Back</a>
            </button>
        </form>
    </form>
</div>
