<% layout("boilerplate") -%>
<nav>
    <% include ../partials/navElec.ejs %>
</nav>
<div class="container">
    <h1>Electronics</h1>
    <div class="grid-container">
        <% for (let electronic of electronics ) { %>
            <div class="grid-item">
                <div>
                    <img src="<%=electronic.image%>" class="grid-image"/><br/>
                    <p><%= electronic.name %></p>
                    <p>Color: <%=electronic.color%></p>
                    <p>Price: <%=electronic.price%></p>
                    <a href="/electronics/<%= electronic._id %>">
                        Click For More
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</div>